nav {
  background-color: #2c3e50;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
}

nav h1 {
  display: inline;
  margin-right: 2em;
  color: #ecf0f1;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}

.menu-option {
  text-decoration: none;
  color: #bdc3c7;
  transition: color .3s;
}

nav ul li a:hover {
  color: #FFA500;
}

.collapsible {
  cursor: pointer;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: auto;
  background-color: #456980;
  position: absolute;
  left: 0;
  top: 1.5em;
  width: 150px;
}

// Additional styling for sub-menu
.content ul {
  display: block;
  padding-left: 1em;
}

.content ul li {
  display: block;
  margin-bottom: 0.5em;
}

ul li span:hover {
  color: #FFA500;
}

nav ul li .cities-menu {
  display: none;
}

nav ul li:hover .cities-menu {
  display: block;
}
